
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1476441560'); /* IE9*/
  src: url('iconfont.eot?t=1476441560#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1476441560') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1476441560') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1476441560#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-daojianfu:before { content: "\e673"; }
.icon-jianicon:before { content: "\e601"; }
.icon-qiangzhi:before { content: "\e659"; }
.icon-pixie:before { content: "\f0093"; }
.icon-wangqiupai:before { content: "\e623"; }
.icon-hammer:before { content: "\e7e0"; }
.icon-53a6f8971e74b:before { content: "\e601"; }
.icon-mobang:before { content: "\e640"; }
.icon-boshimao-copy:before { content: "\e600"; }
.icon-xiyangwushi:before { content: "\e616"; }
.icon-wushu:before { content: "\e602"; }
.icon-dao:before { content: "\e9f4"; }
.icon-wuqizhuangbeishezhi:before { content: "\e6b5"; }
.icon-renzhewuqi:before { content: "\e60e"; }
.icon-yanjing:before { content: "\e633"; }
.icon-dacumojian:before { content: "\3442"; }
.icon-jian:before { content: "\e9f5"; }
.icon-java:before { content: "\e693"; }
.icon-sey-android:before { content: "\e6d5"; }
.icon-sey-ios:before { content: "\e6d4"; }
.icon-ruby:before { content: "\e72d"; }
.icon-languagepythontext:before { content: "\e916"; }
.icon-php:before { content: "\e685"; }
.icon-python:before { content: "\e636"; }
.icon-java1:before { content: "\e6b8"; }
.icon-js:before { content: "\e624"; }
.icon-jschrome:before { content: "\e60c"; }
.icon-jsie:before { content: "\e60e"; }
.icon-jsff:before { content: "\e60d"; }
.icon-win:before { content: "\e621"; }
.icon-c:before { content: "\e69b"; }
.icon-c2:before { content: "\e60b"; }
.icon-go:before { content: "\f0026"; }
